<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if data.name %}
        {{data.name}}
        {% else %}
        Tic Tac Toe
        {% endif %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    
<link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">
<script src="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.min.js"></script>
</head>
<body>
    {% include "components/header.html" %}
    {% block start %}
    
    {% endblock start %}

</body>
</html>